class Zoetrope < Formula
  desc "Convert .mov files to high-quality gifs using ffmpeg"
  homepage "https://github.com/robertbagge/zoetrope"
  url "https://github.com/robertbagge/zoetrope/releases/download/${TAG}/zoetrope-${TAG}-aarch64-apple-darwin.tar.gz"
  sha256 "${SHA}"
  version "${VERSION}"
  license "MIT"

  depends_on arch: :arm64
  depends_on "ffmpeg"

  def install
    bin.install "zoetrope"
  end

  test do
    assert_match "Convert .mov files", shell_output("#{bin}/zoetrope --help")
  end
end
